.container {
    position: inherit;
}

/* CSS */
.section-banner-home{
    width: 100%;
    height: 500px;
    padding: 50px;
    margin: 30px auto;
    background-color: #005caa;
}

.section-banner-home img {
    height: 400px;
}

.section-banner-home .texto-banner {
    margin-top: 30px;
    font-size: 22px;
}

.section-banner-home .texto-banner h1{
    font-size: 30px;
    width: 60%;
    font-weight: 500;
    padding-bottom: 20px;
}

.section-banner-home .texto-banner p{
    font-size: 15px;
    margin-bottom: 20px;
}

.section-banner-home .texto-banner a{
    color: #000;
    text-decoration: none;
    background-color: #fff;
    padding: 4px 14px;
    font-size: 15px;
}
/*CSS Destaque*/
.destaque {
    margin-top: 150px;
}

.destaque h2{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}
.destaque p{
    width: 77%;
    text-align: center;
    font-size: 14px;
    margin: 30px auto;
}
.destaque figcaption{
    font-size: 13px;
}
.destaque a{
    justify-content: center;
    display: flex;
    text-decoration: none;
    color: #30dcf4;
    font-size: 18px;
    font-weight: bold;
    margin: 30px 0;
}
/* CSS Novidades */
.novidades{
    background-color: #082373;
    padding: 50px;
}
.novidades .text-body{
    width: 80%;
    margin: 70px auto;
}
.novidades h2{
    color: #fff;
    font-size: 26px;
    width: 70%;
}
.novidades p{
    color: #fff;
}
.novidades a{
    color: #000;
    text-decoration: none;
    padding: 6px 12px;
    background-color: #fff;
    font-weight: 400;
}
/* CSS Galeria Full*/
.galeria {
    margin: 60px auto 20px;
}
.galeria h2{
    text-align: center;
    font-size: 24px;
}
.galeria p{
    text-align: center;
    width: 50%;
    margin: 14px auto 50px;
}
.galeria .gallery{
    margin: 10px auto 10px;
}
/* CSS Footer*/
.rodape {
    padding: 50px 50px 0;
}
.rodape .info-contato p {
    margin: 0px;
}
.rodape a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
}
.rodape a:hover {
    font-weight: bold;
}
.rodape .redes-sociais {
    display: inline-block;
}
.rodape .redes-sociais img {
    width: 45px;
    height: 40px;
}
.rodape p.direitos {
    text-align: center;
    margin-top: 40px;
}
